* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    background: url("../images/bg.jpg") no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.caption {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption h1 {
    color: #fff;
    height: inherit;
    margin: 0;
    line-height: 10vh;
}

.chatbox {
    height: 90vh;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}

.chatbox .row-height {
    height: 100%;
}

.user-pannel {
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
}

.user-chat {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.user-info {
    text-align: center;
}

.user-info i {
    color: rgba(255, 255, 255, 0.5);
    font-size: 80px;
    padding: 20px 20px 0 20px;
}

.user-info p {
    color: #fff;
    font-size: 20px;
    padding: 10px 0;
    margin: 0;
    text-align: center;
}

.room-list {
    width: 100%;
}

.room-list h2 {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 17px;
    padding: 12px;
    margin: 0 0 10px 0;
    text-align: center;
}

.room-list div {
    padding: 5px 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.room-list div p {
    font-size: 15px;
    margin: 0;
    color: #fff;
}

.room-list div i {
    color: firebrick;
    font-size: 7px;
    margin-right: 10px;
}

.room-list div.active-room i {
    color: seagreen;
}

.users-online {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.users-online i {
    margin-right: 10px;
}

.users-online p {
    margin: 0;
    font-size: 14px;
}

/* -------------- FORM SEND MESSAGE --------------- */

.send-message {
    left: 0;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 44px;
    display: flex;
}

.send-message input {
    width: inherit;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.7);
    padding: 0 30px;
    outline: none;
    border: none;
}

.send-message button {
    width: 70px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    outline: none;
    border: none;
    cursor: pointer;
}

/* -------------- MESSAGE DESIGN --------------- */

.user-message {
    margin-top: 15px;
    border-radius: 5px;
    width: 65%;
}

.user-message.me {
    align-self: flex-end;
    background: rgba(255, 255, 255, 0.1);
}

.user-message.client {
    background: rgba(255, 255, 255, 0.3);
}

.user-message.info {
    width: 100%;
    text-align: center;
}

.user-message p:first-of-type {
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0;
}

.user-message p:last-of-type {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding: 0 20px 10px 20px;
    margin: 0;
}

.user-message.info p:last-of-type {
    padding: 0;
}

.user-message.info p:first-of-type {
    display: none;
}